<h1>About</h1>
<div class="row">
    <div class="col m6">
      <div class="card">
        <div class="card-image">
          <%= image_tag "coffee-notes.jpg" %>
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I will say something fascinating patchwork living and lifestyle design for the profoundly weird.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>

    <div class="col m6">
      <div class="card">
        <div class="card-image">
          <%= image_tag "ArtQuote.jpg" %>
          <span class="card-title">Another Card</span>
        </div>
        <div class="card-content">
          <p>More Witty Content goes here.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>


    </div>
  </div>